@import "abstracts/variables";

$sidebar-width: 200px;

:host {
  display: block;
  height: 100%;
  .management-container {
    height: 100%;
    display: grid;
    grid-template-columns: $sidebar-width calc(100% - #{$sidebar-width});
    grid-template-rows: 100%;
    grid-template-areas:
      'menu main';
    section {
      grid-area: main;
      padding: 20px;
    }
  }
}
