@import "abstracts/variables";

:host {
  grid-area: menu;
  border-right: 1px solid $shade-2;
  display: block;
  aside {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 20px;
        cursor: pointer;
        &.active, &:hover {
          background-color: $shade-3;
          font-weight: 500;
        }
      }
    }
  }
}
