@import "abstracts/variables";

:host {
  .navbar {
    background-color: $light-shade;
    box-shadow: $box-shadow;
    .navbar-brand {
      svg {
        height: 40px;
        width: 130px;
      }
    }
    .action-container {
      p-avatar {
        cursor: pointer;
      }
    }
  }

}
